<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="one-tab" data-toggle="tab" href="#one" role="tab" aria-controls="one" aria-selected="true">One Way Binding</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="two-tab" data-toggle="tab" href="#two" role="tab" aria-controls="two" aria-selected="false">Two  Way Binding</a>
    </li>

  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="one" role="tabpanel" aria-labelledby="one-tab">


<h2>Interpolation Binding</h2>

<p>{{ name }}</p>

<h2>Property Binding</h2>

 <input [value]="name" />
<h2>Attribute Binding</h2>

<table>
<tr>
  <th>Month</th>
  <th>Savings</th>
  <th>Savings for holiday!</th>
</tr>
<tr>
  <td>January</td>
  <td>$100</td>
  <td [attr.rowspan]="rowspan">$50</td>
</tr>
<tr>
  <td>February</td>
  <td>$80</td>
</tr>
</table>

<h2>Event Binding</h2>

<button (click)="showAlert('Test')">Alert</button>

    </div>
    <div class="tab-pane fade" id="two" role="tabpanel" aria-labelledby="two-tab">


          <input [(ngModel)]="name"/>
    </div>

  </div>
